---
import Layout from '../layouts/Layout.astro';
import MenuApp from '../components/MenuApp.jsx';
---

<Layout title="Menú Burger - Hamburguesas Gourmet">
  <main>
    <MenuApp client:load />
  </main>
</Layout>